.ShoppingList {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    > main {

    }

    > footer {

    }

    .ShoppingListElement {

    }
    
    .ShoppingListElementChecked {
        background-color: red;
    }
}

